body {
    background-color: var(--shape-background);
    overflow: hidden;

    margin: 1.25rem;
}

#app {
    display: grid;
    grid-template-columns: 32.25% 67.74%;

    height: 100vh;
}

aside {
    max-width: 25rem;

    & .aside-container {
        position: relative;
        
        & > #background {
            width: 100%;
            height: auto;
            border-radius: .75rem;

            position: absolute;
            z-index: -1;
        }

        & header {
            padding: 2rem;

            & #logo {
                width: 2.81rem;
                margin-bottom: 16px;
            }

            
            & h1 {
                font: var(--logo);
                color: var(--pink);
                margin-bottom: 4px;
            }

            & p {
                font: 100 16px var(--open-sans);
                color: var(--text-heading);
            }
        }
    }
}

main {
    background-color: var(--shape-body);
    border-radius: .75rem;
    padding: 5rem 8.125rem;

    & h2 {
        font: var(--heading-md);
        color: var(--text-heading);
    }
}